
.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 44px;
   margin-bottom: 45px;
}
.header__list{
   display: flex;
   align-items: center;
}
.header__item + .header__item{
   margin-left: 32px;
}

.header__link {
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.923077px;
   text-transform: uppercase;
   color: #83888F;
   transition: 0.3s;
}

.header__link:hover {
   color: #333D4B;
}


.site__hamburger {
   display: none;
}

@media only screen and (max-width: 679px) {
   
   .site__hamburger {
      display: block;
   }
   .header__list {
      display: none;
   }
   
}
@media only screen and (max-width: 679px){
   .others {
      width: 689px;
      background-image: url("../images/cofe-img-mobile.jpg");
      background-repeat: no-repeat;
      border-radius: 10px;
   }
   .hero__title {
      margin-bottom: 24px;
      width: 329px;
      font-size: 48px;
   }
   .hero-text {
      margin-bottom: 40px;
      width: 398px;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
   }
   .site__midle-list {
      display: block;
   }
}