.next__box {
   padding: 137px 0 137px 0;
   margin-bottom: 168px;
   background-image: url("../../images/Bitmap\ \(1\).png");
   background-repeat: no-repeat;
   border-radius: 10px;
}

.header__section-box {
   margin-left: 85px;
}

.next__hero-title {
   font-family: 'Fraunces', sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   color: #FEFCF7;
}

.next__hero-text {
   width: 445px;
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: #FEFCF7;
}