.next__page-box {
   display: flex;
   align-items: center;
}

.coffe__man {
   border-radius: 10px;
}

.site__about-coffe {
   margin-left: 125px;
}

.coffe__man-title {
   font-family: 'Fraunces', sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   color: #333D4B;
}

.offe__man-text {
   font-family: 'Barlow';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: #333D4B;
   opacity: 0.8;
}